.property-box div {
    padding: 5px;
    
}

.property-description {
  padding: 20px;
  font-size: 18px;
}


.property-url{
  color: #DB6EC0;
  /*transform: rotateX(-15deg) rotateY(5deg);  */
  /*background-color: #DB6EC0;*/
}

.property-summary{
  font-size: 24px;
}

.property-header{
  font-size: 20px;
}

.property-url a {
  color:#DB6EC0;
  font-size: 18px;
}

body {
  padding-top: 100px;  
  background-color: white;
}

.search-control {
  padding : 10px;
  color : white;
}

.navbar-custom { 
  font-size: 70;
}

.in.collapse+a.btn.showdetails:before { 
    content:'Hide details «';
}
.collapse+a.btn.showdetails:before { 
    content:'Show details »'; 
}
