<div class=""><h3>
	<span  id="resultsCount" class="label label-info"></span></h3></span>
</div>
<table id="properties-table" class="table table-hover table-resposnive display">
	<thead>
		<tr class="property-header">
			<th>Property</th>
			<th>Bed Rooms</th>
			<th>Update Date</th>
			<th>House Type</th>
			<th>Price</th>
			<!-- <th>Description</th> -->
		</tr>
	</thead>
	<tbody class="thumbnails">
	</tbody>
</table>
<!--<button onclick="$('#properties-table').dataTable();" class="button button-lg">Data Table</button>-->